<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="flip-right" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p style="text-align: justify;">
              Presenting a Versatile, Passionate and experienced Software
              developer, a graduate student from Northeastern University. I
              worked as a Programmer Analyst in Cognizant for 15 months as a
              backend developer primarily using Java with domain expertise in
              Insurance , that cater a wide range of users across the
              organization.
            </p>
            <p>
              As a person who believes that knowledge without application is
              like a book that is never read, I love to get my hands dirty by
              working a lot on code and bringing out user friendly applications.
              I enjoy solving new problems and learning new technologies and
              developing productive solutions.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">November 02, 1995</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">srinivasan.vi@northeastern.edu</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">(857) 588-2374</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Location:</strong>
              </div>
              <div class="col-sm-8">Boston MA, 02120</div>
            </div>
            <div class="row mt-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
